body {
  background-image: url(./assets/Long-Hall-Pub-Dublin-1240x696.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  min-height: 100vh;
  min-width: 100vw;
}
